*{
	box-sizing: border-box;
	font-family: 'Montserrat', sans-serif;
	background-color: #ffffff;
}
a{
	text-decoration: none;
}
body{
	margin: 0 auto;
	font-size: 18px;
	padding: 0;
	height: 100vh;
}
span{
	color: #0066f5;
	text-align: center;
	font-weight: bold;
}
.main{
	width: 60%;
	text-align: justify;
	margin-left: 40px;
	line-height: 40px;
}
.aside{
	float: right;
	width: 35%;
}
img{
	height: 250px;
	margin-top: 150px;
	border: 5px solid #0066f5;
}